@import url('https://fonts.googleapis.com/css?family=Lobster|Cabin');

$wine: #722f37;
$parchment: #F1F1D4;

.container {
	//background-color: $parchment;
	background: url("../images/SuperFancyRestaurant.jpg");
	background-size: auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

body {
	bottom: 300px;
}

#header {
    font-family: 'Lobster', cursive;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 10%;
    min-width: 600px;
    color: $parchment;
    background-color: $wine;
    text-align: center;
}

#menuHeader {
	@extend .text-light;
	font-family: 'Cabin', sans-serif;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    min-width: 600px;
    @extend .text-white-50;
    background-color: $wine;
    font-size: 1em;
    @extend .mt-5;
    @extend .text-left;
    font-family: 'Cabin', sans-serif;
}

.aboutSection {
	font-family: 'Cabin', sans-serif;
}

#menuItem {
	@extend .rounded;
	@extend .shadow-lg;
	@extend .text-center;

	font-size: 170%;
	font-family: 'Lobster', cursive;
	display: none;
	min-width: 18rem;
	max-width: 45%;
}

.card-bg-op {
	background-color: $parchment !important;
	opacity: .93;
}

#menu {
	font-family: 'Lobster', cursive;
}

#menuItemImg {
	@extend .border;
	@extend .border-dark;
	@extend .rounded-circle;
	width: 100%;
	height: 100%;
}

.card {
	
}




#map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
    }	

@import "node_modules/bootstrap/scss/bootstrap";
